*{
    margin: 0%;
 font-family: web ;
    padding: 0%;
}
@font-face {
    font-family:web ;
    src: url(../fonts/IRANSansWeb-Light.eot);
    src: url(../fonts/IRANSansWeb-Light.ttf);
    src: url(../fonts/IRANSansWeb-Light.woff);
    src: url(../fonts/IRANSansWeb-Light.woff2);
}
.menuu {
    width: 100%;
    height: 100px;
    background-color: #252525;
    display: block;
    position: fixed;
    z-index: 1;
    align-items: center;
        justify-content: center;}
div.menu{
    width: 100%;
    height: 103px;
    background: #292929;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
div.gol{
    position: relative;
    top: 55px;
    left: 30px;
}
div.sub{
    padding: 20px;
}
div.sub>a{
color: #818e94 
}
div.sub>a:hover{
color: #f5f5f5 
}
// div.menuh2{
//     width: fit-content;
//     height: inherit;
//     display: flex;
//     flex-flow: column nowrap;
//     position: relative;
//     top: 140px;
//     left: 20px;
//     background: #181818;
// }
div.element{
    width: 100%;
    height: 457px;
    background-color: #ece9e9;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 65px;
}
div.element2{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 5%;
}
div.element2>div>h1{
    color: crimson;
    position: relative;
    bottom: 15px;
}
div.element2>div>h3{
    color: #606568 ;
    position: relative;
    bottom: 10px;
}
div.element2>div>h4{
    color: #a8abad ;
    width: 470px;
    height: 122px;
    font-size: 17px;
}
div.element2>div>a{
    background-color: white;
    color: #7a7777;
}
div.element2>div.tth{
    background-color: white;
    width: 110px;
    height: 41px;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30px;
    left: 200px;
}
div.element2>div>a:hover{
    background-color: rgb(255, 0, 0);
    width: 110px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #f7f6f6;
    border-radius: 10px;
}
div.element>div>img{
position: relative;
right: 18%;
}
div.maten{
    width: 700px;
    height: 710px;
    position: relative;
    top: 630px;
    right: 300px;
}
div.maten>div>h2{
    color: crimson;
    position: relative;
    bottom:60px ;

}
div.maten>div>a{
    color: #a8abad;
}
.am1{
    position: relative;
    bottom: 20px;
}
.am3{
    position: relative;
    top: 60px;
}
.ma2{
    position: relative;
    top: 30px;
}
div.gap{
    width: 900px;
    height: 280px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 500px;
    gap: 20px;
    right: 200px;
}
div.gap>div>a{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    color: #282929;
}
div.scorol{
    width: 100%;
    height: 2180px;
}
div.scorol>div>img{
    width: 100%;
    position: relative;
    top:650px;
}
div.scorol>div.redscorol{
    width: 291px;
    height: 100px;
background-color: crimson;
color: rgb(241, 230, 230);
position: relative;
top: 540px;
right: 300px;
}
div.scorol>div.redscorol>h2{
margin-right: 24px;
}
div.scorol>div.redscorol>h4{
margin-right: 24px;
margin-top: 5px;
}
.if{
    color: red;
    width: 20%;
    position: relative;
    top: 600px;
    right: 300px;
}
.good{
    width: 55%;
    position: relative;
    top: 620px;
    right: 300px;
    color: #818e94;
}
.tthh{
    background-color: rgba(147, 148, 151, 0.192);
    width: 110px;
    height: 41px;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 640px;
    right:275px;
}
.tthh1{
    background-color: rgba(147, 148, 151, 0.192);
    width: 110px;
    height: 41px;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 600px;
    right:400px;
}
.tthh>a:hover,.tthhsto>a:hover ,.tthh1>a:hover ,.tthmmn>a:hover{
    background-color: rgb(255, 0, 0);
    width: 110px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #f7f6f6;
    border-radius: 10px;
}
.cooking{
    height: 200px;
    position: relative;
    bottom: 1300px;
}
.mj>h2{
    color: crimson;
    position: relative;
    bottom: 550px;
    right: 30px;
}
div.story{
    width: 100%;
    height: 900px;
    background: #cde4b0;
position: relative;
bottom: 500px;
display: flex;
flex-flow: row nowrap;
justify-content: center;
align-items: center;
gap: 20px;
}
div.storywi1{
    width: 321px;
    height: 600px;
    background-color: whitesmoke;
}
div.storywi2{
    width: 321px;
    height: 600px;
    background-color: whitesmoke;
}
div.storywi3{
    width: 321px;
    height: 600px;
    background-color: whitesmoke;
}
.storywi1>div>h2 , .storywi2>div>h2 , .storywi3>div>h2{
    color: crimson;
    margin-bottom: 30px;
}
.tthhsto{
    background-color: rgba(147, 148, 151, 0.192);
    width: 110px;
    height: 41px;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 80px;
    right:30px;
}
div.story2{
    width: 100%;
    height: 850px;
    background: #ffffff;
position: relative;
bottom: 500px;
display: flex;
flex-flow: row nowrap;
justify-content: center;
align-items: center;
gap: 20px;
}
div.storywi11{
    width: 321px;
    height: 500px;
    background-color: whitesmoke;
}
div.storywi22{
    width: 321px;
    height: 500px;
    background-color: whitesmoke;
}
div.storywi33{
    width: 321px;
    height: 500px;
    background-color: whitesmoke;
}
.storywi11>div>h2 , .storywi22>div>h2 , .storywi33>div>h2{
    color: crimson;
    margin-bottom: 30px;
}
.tthhsto{
    background-color: rgba(147, 148, 151, 0.192);
    width: 110px;
    height: 41px;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 80px;
    right:30px;
}
div.borj{
    width: 100%;
    height: 580px;
    background: #105153;
    position: relative;
    bottom: 600px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
div.borj>div{
    color: #52c4cc;
    margin-top: 20px;
    position: relative;
    top: 110px;
}
div.mmn{
    width: 100%;
    height: 390px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 500px;
}
.tthmmn{
    background-color: rgba(147, 148, 151, 0.192);
    width: 110px;
    height: 41px;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
    left: 300px;
   
}
div.mmn>div>h4{
    width: 700px;
    color: #a8abad;
}
div.mmn>div>h2{
    width: 500px;
    color: crimson;
    position: relative;
    bottom: 10px;
    left: 100px;
}
div.soshal{
    width: 100%;
    height: 100px;
    background: #d4d2d2;
    position: relative;
    bottom: 480px;
}
div.redtip{
    width: 100%;
    height: 25px;
    background-color: crimson;
    position: relative;
    bottom: 500px;
}
footer.fot{
    width: 100%;
    height: 489px;
    background: #252525;
    position: relative;
    bottom: 500px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap:30px ;
}
.tego>div>img{
    position: relative;
    top: 50px;
}
.tego>div>h3{
    position: relative;
    top: 50px;
    color: rgb(228, 226, 226);
    font-size: 17px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.tego>div>a{
    position: relative;
    top: 70px;
    color: rgb(172, 167, 167);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: start;
    padding-top: 10px;
    font-size: 13px;
    transition: 300ms;
    cursor: pointer;
}
.tego>div>a:hover{
    color: #fcfbfb;
}